<footer class="footer">
    <nav class="sections">
      <ul class="sectionsList">
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">ROPA</a></li>
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">DESTACADOS</a></li>
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">TIPS</a></li>
      </ul>
    </nav>
    <nav class="links">
      <ul class="linksList">
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">TWITER</a></li>
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">INSTAGRAM</a></li> 
        <li><a class="ulLinks" href="https://adalab.es/" target="_blank">YOUTUBE</a></li>
      </ul>
    </nav>

    <section class="copy">
      <p>&copy2023</p>
      <p>we <span class="heart">&#x2764</span> run</p>
    </section>

  </footer>