<section class="sport">
    <p class="title1"> Historias, moda y ropa deportiva </p>
    <h2 class="title2">Tu tienda de deporte </h2>
    <p class="info"> El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
    <div class="buying">
      <button class="button1">     
      <a class="buyingLink" href="https://adalab.es/" target="_blank" >Comprar</a>
     </button>
    </div>

  </section>