// fonts
/*
$font-main: RobotoSlab-Bold;
Roboto-Regular
font-family: Roboto;
*/

// colors
$color-moss-green: #6c933e;
$color-light-grey: #d9e4cc;
$color-greyish-brown: #4a4a4a;
$color-white: #ffffff;

$Roboto-reg: 'Roboto';
$Roboto-slab: 'RobotoSlab';

