.school {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: $color-light-grey;
   
    .ready {
        margin: 35px;
        line-height: 1.5;
          
        .brand {
        color: $color-greyish-brown;
        font-size: 12px;
        text-align: center; 
        font-family: $Roboto-slab;
        font-weight: bold;
        }
        .return {
        text-transform: uppercase;
        text-align: center;
        font-family: $Roboto-slab; 
        font-weight: bold;
         font-size: 20px;
          
            @media all and (min-width: 768px) {
                font-size: 28px;
            }           
        }
    } 

    .children {
        display: grid;
        grid-template-columns: 1fr;       
        justify-items: center; 
        
        @media all and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 12rem;
            justify-content: space-around;
            padding-left: 100px;
            padding-right: 100px;
        }
        @media all and (min-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20rem;
        }
            
        .img {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
              
            .imgChild {
                width: 40%;  
                margin-bottom: 8px; 
                border-radius: 50%;
                box-shadow: 5px 5px 5px grey;
                width: 120px;
           }
            .titleChild {
                margin-bottom: 20px;
                text-align: center;
                font-size: 14px;
                font-family: $Roboto-slab;
                font-weight: bold;
                
                @media all and (min-width: 768px) {
                    font-size: 18px;
                }               
            }
        }
    }
    .begin {
        .button2 {
        background-color: $color-moss-green;
        border-radius: 25px ;
        width: 210px;
        padding: 10px 10px; 
        border: 1px solid $color-moss-green;                 
        }
        .button2:hover {
                transform: rotate(45deg);
                background-color: black;
        }
        .beginButton {
            color: $color-white;
            padding: 25px;
            text-decoration: none;
            font-size: 20px; 
            font-family: $Roboto-reg;
        }
    }

    .arrow {
    background-color: $color-white;
    width: 60px;
    padding: 15px;
    border-radius: 50%;
    transform: translateY(50%);
    animation-name: back;
        animation-duration: 3s;
    .arroIcon {
        transform:translateX(20%);                
        }
    @keyframes back {
        0% {background: green;}
        10% {background: white;}
        20% {background: black;}
        30% {background: green;}
        40% {background: white;}
        50% {background: black;}
        60% {background: green;}
        70% {background: white;}
        80% {background: black;}
        90% {background: green;}
        100% {background: white;}   
    }
    }
}