@import 'core/variables';
@import 'core/reset';


.header {
    background-color: $color-moss-green;
    width: 40px;
    position: fixed;
    padding: 10px;
    
}

.main{
    font-family: $Roboto-reg;
    .hero {
        background-image: url(../images/cover.jpeg);
        height: 100vh;
        background-position: -700px 0px;
        color: $color-white;
    

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 80px;
        gap: 2rem;
        
        
        & h1 {
            text-transform: uppercase;
            text-align: center;
            word-spacing: 100vw; 
            /*font-family: $Roboto-slab;*/

            @media all and (min-width: 320px) {
                font-size: 30px;
            }
            @media all and (min-width: 768px) {
                font-size: 75px;
                line-height: 100px;
                h1::fist-line  
            }

            @media all and (min-width: 1280px) {
                font-size: 75px;
            }         
        }

        & p {
            font-size: 16px;
            text-align: center;
            width: 80%;
            @media all and (min-width: 320px) {
                width: 60%;
                font-size: 24px;
            }
            @media all and (min-width: 768px) {
                width: 30%;
                font-size: 24px;
            }
            @media all and (min-width: 1280px) {
                width: 50%;
            }            
        }

        @media all and (min-width: 320px) {
            background-position: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media all and (min-width: 768px) {
            background-position: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media all and (min-width: 1280px) {
            background-position: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        } 
        .scrolldown {
        background-color: $color-white;
        width: 40px;
        padding: 11px;
        border-radius: 50%;
        }
        }

    .sport {
        padding: 10% 10% 5% 10%;
        line-height: 2;
        @media all and (min-width: 320px) {
            padding: 25px 25px 50px 25px;
        }
        @media all and (min-width: 768px) {
            padding: 25px 25px 50px 25px
        }
        @media all and (min-width: 1280px) {
            padding: 3% 10% 5% 10%;
        }
        
        .title1 {
            color: $color-moss-green;
            text-transform: uppercase;     
            font-family:$Roboto-reg;        
        }
        .title2 {
            text-transform: uppercase;
            /*font-family: $Roboto-slab;*/
        }
        .info {
            color: color-greyish-brown;    
        }
        .buying {
            border: 1px solid $color-moss-green;
            border-radius: 25px;
            width: 120px;
            margin-top: 40px;
        }
        & a {
            color: $color-moss-green;
            padding: 25px;
            text-decoration: none;
        }
        }
    
    .school {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        background-color: $color-light-grey;
       
        .ready {
            margin: 35px;
            line-height: 1.8;
        
            .brand {
            color: $color-greyish-brown;
            font-size: 0.8rem;
            text-align: center;      
            }
            .return {
            text-transform: uppercase;
            text-align: center;
            @media all and (min-width: 320px) {
                font-size: 28px
            }
            @media all and (min-width: 768px) {
                font-size: 28px;
            }
            @media all and (min-width: 1280px) {
                font-size: 28px;               
            }
             }
        } 
        .children {
            display: grid;
            grid-template-columns: 1fr;       
            justify-items: center; 
            @media all and (min-width: 320px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 12rem;
            }
            @media all and (min-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 12rem;
            }
            @media all and (min-width: 1280px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20rem;
            }
                
            .img {
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                  
                img {
                width: 40%;  
                margin-bottom: 8px;  
                
                
                } 
                & img {
                    border-radius: 50%;
                    box-shadow: 5px 5px 5px grey;
                    width: 120px;
               }
                & h4 {
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 14px;
                    @media all and (min-width: 320px) {
                        font-size: 18px
                    }
                    @media all and (min-width: 768px) {
                        font-size: 18px;
                    }
                    @media all and (min-width: 1280px) {
                        font-size: 18px;               
                    }
                }
        }
         
        }
        .begin {
            background-color: $color-moss-green;
            border-radius: 25px;
            width: 200px;
            padding: 15px 10px;
            }
            & a {
            color: $color-white;
            padding: 25px;
            text-decoration: none;
            font-size: 18px;
           }
        }

        .arrow {
            background-color: $color-white;
            width: 60px;
            padding: 15px;
            border-radius: 50%;
            transform: translateY(50%);
            & svg {
                transform:translateX(-100%) ;
            }
        }
    }

.footer {
    background-color: $color-greyish-brown;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px;
    color: $color-white;

    @media all and (min-width: 320px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'first' 'second' 'third';
        align-items: start;
        padding-left: 100px;
    }
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1280px) {
    }

    .links, .sections { 
        & ul {
            list-style: none;
            margin: 20px;
            line-height: 2;
            text-align: center; 
            & a {
                color: $color-white;
                text-decoration: none;
            }
            @media all and (min-width: 320px) {
                text-align: left;;
            }
            
            @media all and (min-width: 768px) {
            }
            @media all and (min-width: 1280px) {
            }
        }
    }
    .heart {
        text-align: center;
        line-height: 2;
        & p::first-line {
            word-spacing: 100vw;        
        }
        & span {
            color: $color-moss-green;
            }
        @media all and (min-width: 320px) {
            grid-area: first;
            margin: 20px;   
            margin-left: 8vw;     
            text-align: left;            
        }
            
        @media all and (min-width: 768px) {
        }
        @media all and (min-width: 1280px) {
        }
    }
}